apiVersion: v1
kind: Namespace
metadata:
  name: gcomm
---
apiVersion: v1
kind: Service
metadata:
  name: localstack
  namespace: gcomm
spec:
  selector:
    app: localstack
  ports:
    - protocol: TCP
      port: 4566
      targetPort: 4566
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: localstack
  namespace: gcomm
spec:
  replicas: 1 
  selector:
    matchLabels:
      app: localstack
  template:
    metadata:
      labels:
        app: localstack
    spec:
      containers:
        - name: localstack
          image: localstack/localstack:latest
          ports:
            - containerPort: 4566
          env:
            - name: SERVICES
              value: "s3,sqs"
            - name: DEBUG
              value: "1"
---
apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: gcomm
spec:
  selector:
    app: postgres
  ports:
    - protocol: TCP
      port: 5432
      targetPort: 5432
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: gcomm
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: postgres:13
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_USER
              value: "admin"
            - name: POSTGRES_PASSWORD
              value: "admin123"
            - name: POSTGRES_DB
              value: "gcomm_db"